body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:638px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:859px;
  width:306px;
  height:70px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:97px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:90px;
  width:402px;
  height:97px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:79px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:242px;
  width:52px;
  height:78px;
  font-size:48px;
  color:#000000;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:99px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:563px;
  width:169px;
  height:98px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:87px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:717px;
  width:346px;
  height:86px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:116px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:385px;
  width:168px;
  height:116px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:79px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:242px;
  width:148px;
  height:78px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
