body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:641px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:859px;
  width:306px;
  height:70px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:97px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:90px;
  width:402px;
  height:97px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:378px;
  width:284px;
  height:73px;
  overflow:hidden;
}
#u5_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:73px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:73px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u5_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:379px;
  width:282px;
  height:70px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:70px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:501px;
  width:402px;
  height:72px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u13_img.mouseDown {
}
#u13.mouseDown {
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:378px;
  width:118px;
  height:72px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:72px;
  background-color:#000000;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
}
