body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:683px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:116px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:93px;
  width:494px;
  height:116px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:490px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:498px;
  width:478px;
  height:67px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:67px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:354px;
  width:371px;
  height:92px;
  overflow:hidden;
}
#u3_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:92px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:90px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:478px;
  height:89px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:92px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u3_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:90px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:478px;
  height:89px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:36px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:479px;
  height:92px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:478px;
  height:91px;
  font-size:36px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:474px;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:355px;
  width:370px;
  height:89px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:89px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10_ann {
  border-width:0px;
  position:absolute;
  left:669px;
  top:351px;
  width:1px;
  height:1px;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:90px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:354px;
  width:108px;
  height:89px;
  color:#FFFFFF;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:104px;
  word-wrap:break-word;
}
