body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:639px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:859px;
  width:306px;
  height:70px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:97px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:90px;
  width:402px;
  height:97px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5 {
  position:absolute;
  left:237px;
  top:237px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  background-image:none;
}
#u5_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u5_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u5_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:238px;
  width:400px;
  height:70px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14 {
  position:absolute;
  left:236px;
  top:423px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  background-image:none;
}
#u14_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u14_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u14_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:424px;
  width:400px;
  height:70px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:530px;
  width:276px;
  height:73px;
  overflow:hidden;
}
#u23_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:73px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:73px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:531px;
  width:274px;
  height:70px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:70px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:530px;
  width:116px;
  height:72px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u31_input:disabled {
  color:grayText;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:630px;
  width:402px;
  height:72px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u32_img.mouseDown {
}
#u32.mouseDown {
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:237px;
  top:325px;
}
#u34_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u34_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u35_img.selected {
}
#u35.selected {
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  word-wrap:break-word;
}
#u34_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u34_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u37_img.selected {
}
#u37.selected {
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:438px;
  top:325px;
}
#u39_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:82px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u39_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:82px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u40_img.selected {
}
#u40.selected {
}
#u41 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u39_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:82px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u39_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:82px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u42_img.selected {
}
#u42.selected {
}
#u43 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:353px;
  width:300px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
