body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:65px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:682px;
  width:115px;
  height:64px;
  font-family:'华文仿宋';
  font-weight:410;
  font-style:normal;
  font-size:20px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:65px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:431px;
  width:115px;
  height:64px;
  font-family:'华文仿宋';
  font-weight:410;
  font-style:normal;
  font-size:20px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:65px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:241px;
  width:115px;
  height:64px;
  font-family:'华文仿宋';
  font-weight:410;
  font-style:normal;
  font-size:20px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:70px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:859px;
  width:306px;
  height:70px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:97px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:90px;
  width:402px;
  height:97px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11 {
  position:absolute;
  left:238px;
  top:237px;
}
#u11_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  background-image:none;
}
#u11_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u11_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u11_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:238px;
  width:400px;
  height:70px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20 {
  position:absolute;
  left:236px;
  top:423px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  background-image:none;
}
#u20_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u20_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u20_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:424px;
  width:400px;
  height:70px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:678px;
  width:276px;
  height:73px;
  overflow:hidden;
}
#u29_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:73px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:73px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u29_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:679px;
  width:274px;
  height:70px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:70px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:678px;
  width:116px;
  height:72px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:72px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
}
#u37_input:disabled {
  color:grayText;
}
#u38 {
  position:absolute;
  left:237px;
  top:325px;
}
#u38_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u38_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u39_img.selected {
}
#u39.selected {
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  word-wrap:break-word;
}
#u38_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u38_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:82px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u41_img.selected {
}
#u41.selected {
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:197px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:438px;
  top:325px;
}
#u43_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:82px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u43_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:82px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u44_img.selected {
}
#u44.selected {
}
#u45 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u43_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:201px;
  height:82px;
  visibility:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u43_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:82px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:81px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u46_img.selected {
}
#u46.selected {
}
#u47 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:353px;
  width:300px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:40px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:701px;
  width:116px;
  height:39px;
  font-family:'华文仿宋';
  font-weight:410;
  font-style:normal;
  font-size:20px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:777px;
  width:402px;
  height:72px;
  font-family:'华文仿宋';
  font-weight:410;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u52_img.mouseDown {
}
#u52.mouseDown {
}
#u53 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:398px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:65px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:520px;
  width:115px;
  height:64px;
  font-family:'华文仿宋';
  font-weight:410;
  font-style:normal;
  font-size:20px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u57 {
  position:absolute;
  left:236px;
  top:512px;
}
#u57_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  background-image:none;
}
#u57_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u57_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u57_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:513px;
  width:400px;
  height:70px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:65px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:605px;
  width:115px;
  height:64px;
  font-family:'华文仿宋';
  font-weight:410;
  font-style:normal;
  font-size:20px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:111px;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68 {
  position:absolute;
  left:236px;
  top:597px;
}
#u68_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  background-image:none;
}
#u68_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u68_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
  visibility:hidden;
  background-image:none;
}
#u68_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:73px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:72px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:598px;
  width:400px;
  height:70px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
  font-family:'华文仿宋';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:58px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:605px;
  width:169px;
  height:57px;
  font-family:'华文仿宋';
  font-weight:410;
  font-style:normal;
  font-size:20px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:58px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:435px;
  width:169px;
  height:57px;
  font-family:'华文仿宋';
  font-weight:410;
  font-style:normal;
  font-size:20px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:165px;
  word-wrap:break-word;
}
