body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-108px;
  width:145px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:312px;
  width:87px;
  height:18px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:347px;
  width:57px;
  height:18px;
  font-family:'微軟正黑體 Bold', '微軟正黑體';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:28px;
  width:145px;
  height:36px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:62px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:459px;
  width:120px;
  height:62px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:170px;
  width:100px;
  height:100px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
